{"PRI_config": [
{"tag_naming_convention": "centralized_configuration_db_v", "resource_scope":"SW Dev", "resource_name": "Centralized Configuration Database (CCD)", "resource_description": "The Centralized Configuration (CC) project was developed to provide a database module to define configuration options that can be used by any Oracle database modules.  The database is capable of defining multiple configuration variables for one or more database modules in a centralized data table.", "resource_type": "Tool", "resource_category": "Development Tool", "project_color": "#00AA00", "resource_url":"https://gitlab.pifsc.gov/centralized-data-tools/centralized-configuration/-/blob/master/docs/Centralized%20Configuration%20Database%20Documentation.md"}
]}
